# Blacklist everything
/*

# whitelist the necessary files and folders, this gets everything from inside them too
!.gitignore
!.gitmodules
!README.md
!.xpr
!.xsa
!.tcl
!Zybo-logic-gate-demo.srcs/
!Zybo-logic-gate-demo.hw/
!platform/
!not_gate/

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
